@mixin app-header-style($type) {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0px 15px;
  background-color: #eeeeee;

  @if $type == desktop {
    // display: flex;

    // justify-content: space-between;
  }
  @if $type == mobile {
    // display: flex;
    // justify-content: initial;
  }
  //   @media screen and (max-width: 450px) {
  //     width: 100%;
  //   }
  //   @media screen and (min-width: 451px) {
  //     width: 400px;
  //     margin-left: 0px;
  //   }

  //   bottom: if($type == footer, 0px, none);
  //   @if $type == header {
  //     height: #{$app-header-height}px;
  //   }
  //   @if $type == footer {
  //     height: #{$app-footer-height}px;
  //     display: flex;
  //     justify-content: space-evenly;
  //   }
}
