@import "./variables";

html[app-theme="light"] {
  --font-color: #{$appLightFontColor};
  --back-color: #{$appLightBackColor};
  --content-back-color: #{$appContentLightBackColor};
  --header-border-color: #{$appDarkHeaderBorderColor};
  --post-devide-border-color: #{$appPostDevideBorderDarkColor};
}

html[app-theme="dark"] {
  --font-color: #{$appDarkFontColor};
  --back-color: #{$appDarkBackColor};
  --content-back-color: #{$appContentDarkBackColor};
  --header-border-color: #{$appLightHeaderBorderColor};
  --post-devide-border-color: #{$appPostDevideBorderLightColor};
}
