//layout
$appLayoutCls: app-layout;
//header
$appHeaderCls: app-header;
$appLogoCls: app-logo;
$appNavCls: app-nav;
//main
$appMainCls: app-main;

//font-color
$appDarkFontColor: #ffffff;
$appLightFontColor: #1e1e1e;

//back-color
$appDarkBackColor: #1e1e1e;
$appLightBackColor: #ffffff;

$appDarkHeaderBorderColor: black;
$appLightHeaderBorderColor: gray;

$appDarkHeaderLogoBackColor: silver;
$appLightHeaderLogoBackColor: none;
