//layout
$appLayoutCls: app-layout;
//header
$appHeaderCls: app-header;
$appLogoCls: app-logo;
$appNavCls: app-nav;
//main
$appMainCls: app-main;

//font-color
$appDarkFontColor: #ffffff;
$appWhiteFontColor: #000000;
