.#{$appNavCls}-wrapper {
  display: inline-block;
  .#{$appNavCls}-menu {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 300;
    color: var(--header-border-color);
    &.active {
      font-weight: bold;
    }
  }
}
