* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import "./common/index.scss";
@import "./components/index.scss";

html,
body {
  background-color: var(--back-color) !important;
  color: var(--font-color) !important;
}
